/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
	margin:0;
	padding: 5px;
	font-family: Arial;
	background-color: #111;
	font-size: 17px;
}

#bodywrap {
	margin-top:38px;
	background-color: #333;
	padding: 10px;
}

#menu,#show{
	padding:0;
	margin:0;
	float:left;
	height: 23px;
}
#menu li, #show li {
	padding:0;
	float:left;
	margin:0;
	margin-left: 4px;
	list-style:none;
}
#menu li a, #show li a {
	display:block;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #333;
	color: #fee;
	font-weight:bold;
	text-decoration:none;
}
#menu li a:hover {
	color: #f55;
}


#wrr {
	background-color: #eee;
	padding: 22px 15px 15px 15px;
}
#wrr ul {
	padding:0;
	margin:0;
}
#wrr li {
	padding:0;
	list-style:none;
}
#showli a, #tcli a, #pali a {
	padding-bottom: 8px !important;
	background-color: #a44 !important;
}

h1 {
	margin:0;
	font-size: 30px;
	letter-spacing:-2px;
	text-transform: uppercase;
	font-weight:normal;
}


.ob {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 15px;
	margin-bottom: 5px;
	padding: 5px;
	margin: 3px 5px;
}
.line {
	font-size: 11px;
	color: #aaa;
	padding-left: 10px;
}
.pos,.posd {
	font-size: 20px;
	padding-left: 10px;
}
.tags {
	font-size: 12px;
	padding-left: 10px;
}
