body {
	font-family: 'Antic', sans-serif;
	padding:0;
	margin:0;
}
#inner {
	padding: 20px;
}
h2 {
	font-size: 40px;
	margin:0;
	background-color: #a00;
	padding:10px 20px;
	color: white;
}
table {

}
td {

}
th {
	font-size:20px;
	background-color: #caa;
}
td, th {
	padding: 3px 6px;
	background-color: #f0f0f0;
}

