<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
        <title>[% page_title.reverse.join(" - ") %]</title>
[%- FOREACH script = static_script %]
        <script type="text/javascript" src="[% script %]"></script>
[%- END %]
[%- FOREACH style = static_style %]
        <link href="[% style %]" rel="stylesheet" type="text/css" />
[%- END %]
	<script type="text/javascript"> 
		$(function() {

		});
	</script> 
	<style type="text/css"> 
	
	</style> 
	
</head> 
 
<body> 
<div id="wrapper"> 
	<div id="wrapper2">
		[% content %]
	</div>
</div>
</body>
</html>
