<h2>[% timeline.name %]: Patch</h2>
<div id="back">
	<a href="/[% timeline.id %]/">Back to timeline</a>
</div>
<div id="inner">
<table>
<tr>
	<th>DMX</th>
	<th>Tags</th>
	<th>Brand</th>
	<th>Model</th>
	<th>Type</th>
</tr>
[% FOREACH patch = patches %]
	<tr>
		<td>[% patch.dmx %]</td>
		<td>[% patch.tags %]</td>
		<td>[% patch.fixture.brand %]</td>
		<td>[% patch.fixture.model %]</td>
		<td>[% patch.fixture.fixtype %]</td>
	</tr>
[% END %]
</table>
</div>
