<h2>[% timeline.name %]</h2>
<div id="back"><a href="/">Back</a></div>
<div id="inner">
	<ul class="lili">
		<li><a href="/[% timeline.id %]/patch">Patch</a></li>
		<li><a href="/[% timeline.id %]/edit">Edit</a></li>
	</ul>
</div>
