<h2>[% timeline.name %]</h2>
<div id="back"><a href="/">Back</a></div>
<div id="inner">
	<ul class="lili">
		<li><a href="/[% timeline.id %]/patch">Patch</a></li>
		<li><a href="/[% timeline.id %]/edit">Timeline editor</a></li>
		<li><a href="/[% timeline.id %]/effect">Edit effects</a></li>
		<li><input type=button value="Generate showfile" id=generate_show><span id=generate_message></span></li>
	</ul>
</div>
