<form action="/login" method="post">
<p>
	<label for="username">Username</label>
	<div>
		<input type="text" value="" name="user" id="username" />
	</div>
</p>
<p>	
	<label for="password">Password</label>
	<div>
		<input type="password" value="" name="pass" id="password" />
	</div>
</p>
<p>
	<input type="submit" value="Logg inn" name="login" />
</p>
	
</form>
