body {
	font-family: 'Antic', sans-serif;
	padding:0;
	margin:0;
}
#inner {
	padding: 10px;
}
h2 {
	font-size: 40px;
	margin:0;
	background-color: #a00;
	padding:10px 20px;
	color: white;
}
table {

}
td {

}
th {
	font-size:20px;
	background-color: #caa;
}
td, th {
	padding: 3px 6px;
	background-color: #f0f0f0;
}
.lili {
	padding:0;
}
.lili li {
	list-style:none;
}
.lili li a {
	padding:5px 10px;
	display:block;
}
.lili li a:hover {
	background-color: #fcc;	
}
#back {
	background-color: #c88;
	padding:5px 20px;

	border-top: 1px solid #f0f0f0;
}
#back a {
	font-size: 17px;
	color:white;
	text-decoration: none;
}
.tag {
	border-radius: 4px;
	padding: 3px;
	margin-right: 7px;
	background-color: black;
	color: white;
}
.active {
	background-color: red !important;
}
.fix {
	font-family: "Courier New", fixed;
}
